# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Builds
*.exe
*.vip

# Metadata
*.aliases
*.lvlps
.cache/
*debug.lvprojstate

# Test artifcats
*.html
*.xml